.bodyE17 {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formMain {
  width: 40vw;
  padding: 25px;
  background-color: blanchedalmond;

  border-radius: 15px;
}

.inputE17 {
  margin-top: 25px;
}
